<%- include('./partials/header') %>

<% if(error.length>0){ %>
    <div class="absolute top-5 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<% if(message.length>0){ %>
    <div class="absolute top-5 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-green-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= message %>
        </span>
    </div>
<% } %>

<div class="w-full min-h-screen h-full flex flex-col md:flex-row mt-32  md:mt-12 px-5 md:px-20 py-5 md:py-20">
    <div class="w-full lg:w-[25%] flex flex-col items-start mb-10 lg:mb-0">
        <div class="flex flex-col">
            <a class="block w-fit mb-2 text-zinc-500" href="/shop">Back to Shop</a>
            <a class="text-md  block w-fit mb-2" href="/account">Account</a>
            <a class="text-md text-blue-400 block w-fit mb-2" href="/users/cart">My Cart</a>
            <a class="text-md block w-fit mb-2" href="/orders">My Orders</a>
        </div>
    </div>
    <div class="w-full lg:w-3/5 flex flex-col gap-10 items-start">
        <% if (user.cart.length === 0) { %>
            <h1 class="text-xl text-center w-full">You Don't Have Anything In Cart</h1>
        <% } else { %>
            <% user.cart.forEach(product => { %>
                <div class="flex flex-col lg:flex-row w-full justify-between items-center lg:items-start">
                    <div class="w-full lg:w-60 mb-5 lg:mb-0">
                        <div class="w-full h-52 flex items-center justify-center bg-<%= product.bgcolor %>">
                            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                        </div>
                        <div class="flex justify-center bg-<%= product.panelcolor %> items-center px-4 py-4 text-<%= product.textcolor %>">
                            <div>
                                <h3 class="text-xl"><%= product.name %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 p-2 flex flex-col">
                        <div class="px-0 lg:px-10 mt-5 text-xl">
                            <div class="flex mt-2">
                                <h4 class="w-2/3">Price</h4>
                                <h4>₹ <%= product.price %></h4>
                            </div>
                            <div class="flex mt-2">
                                <h4 class="w-2/3">Discount</h4>
                                <h4>₹ <%= product.disount %></h4>
                            </div>
                            <div class="flex mt-2">
                                <h4 class="w-2/3">Shipping</h4>
                                <h4>FREE</h4>
                            </div>
                        </div>
                        <div class="w-full h-[1px] bg-black mt-10"></div>
                        <div class="flex mt-5">
                            <h3 class="w-2/3 text-bold text-xl">Total Amount</h3>
                            <h3 class="font-semibold text-xl text-green-600"><%= product.price - product.disount %></h3>
                        </div>
                    </div>
                    <form method="post" class="w-full lg:w-1/5 mt-5 lg:mt-0" action="/users/cart/delete/<%= product._id %>">
                        <input class="w-full lg:w-auto font-medium bg-red-400 text-white hover:bg-red-500 border-2 border-transparent hover:border-solid px-4 py-2 lg:px-6 lg:py-3 rounded-md flex justify-center items-center" type="submit" value="Delete">
                    </form>
                    
                </div>
            <% }); %>
        <% } %>
    </div>

    <div class="fixed bottom-0 bg-opacity-80 backdrop-blur-lg lg:top-20 right-0 w-full lg:w-1/5 p-5 bg-white lg:bg-transparent border-t lg:border-0 lg:h-3/4 lg:gap-5 lg:m-4 flex justify-center lg:justify-start items-center lg:border-5">
        <div class="info rounded-md p-3 flex-col w-full">
            <h3 class="text-2xl">Summary</h3>
            <div class="px-10 mt-5 text-xl">
                <div class="flex mt-2">
                    <h4 class="w-2/3">Net Discount</h4>
                    <h4>₹ <%= totaldiscount %></h4>
                </div>
                <div class="flex mt-2">
                    <h4 class="w-2/3">Shipping Fee</h4>
                    <h4>FREE</h4>
                </div>
            </div>
            <div class="w-full h-[1px] bg-black mt-10"></div>
            <div class="flex mt-5">
                <h3 class="w-2/3 text-bold text-xl">Net Total Amount</h3>
                <h3 class="font-semibold text-xl text-green-600"><%= nettotal %></h3>
            </div>
            <form method="post" class="flex justify-center p-2 m-2 h-1/6 text-2xl w-full" action="/users/cart/order">
                <input class="w-full h-full font-medium bg-yellow-400 text-white font-semibold hover:bg-yellow-500 border-2 border-transparent hover:border-solid px-4" type="submit" value="Order">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
